.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  .menuHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 90%;
    align-items: center;
    padding: 10px 0;
    .headerContent {
      font-size: 26px;
      font-weight: 600;
      color: $color-black;
      position: relative;
      .cartIcon {
        color: $color-black;
        background-color: #f1f1f1;
      }
      .itemCount {
        background-color: #d22b2b;
        color: $color-white;
        font-size: 12px;
        border-radius: 50%;
        padding: 2px 5px;
        position: absolute;
        right: -8px;
      }
    }
  }
  .menuItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;

    & > .menuItem {
      flex: 0 0 30%;
    }
  }
}
